* {
	text-size-adjust: 100% !important;
}

html, body {
	overscroll-behavior: none;
	font-size: 18pt;
 }

body {
	margin: 0;
	background-color: black;
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding-left: 35%;
	padding-right: 35%;
}


#game {
	display: flex;
	flex-direction: column;
}

#word, #timeline, button {
	font-size: 18pt;
	text-align: center;
	min-height: 1em;;
}

#timeline, #word {
	margin-bottom: .25em;
}


.Z, .W {
	text-decoration: underline;
}

.row {
	margin-top: .5em;
}

#buttons {
	text-align: center;
}

button {
	margin-top: .5em;
	margin-left: 2ch;
	height: 1.5em;
	border-radius: .25em;
	background-color: crimson;
	border-color: red;
	padding: 0 .3em;
	color: white;
	border-style: outset;
	border-width: .2em;
}

.selected {
	border-color: #00a000 !important;
	background-color: #00c000 !important;
}

#timer {
	margin-left: 2ch;
}

#words {
	margin: .5em;
	font-size: 25pt;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	overflow-x: hidden;
}

#words > * > span {
	padding-left: 1ch;
	color: yellow;
}

#words > * {
	min-width: 0;
	padding-left: 1ch;
}

#words > * > span:nth-child(even) {
	color: white;
}

#board {
	width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
	box-sizing: border-box;
	position: relative;
	display: grid;
	grid-template-columns: repeat(5, 20%);
	grid-gap: 0;
	touch-action: none;
}

.board5 {
	grid-template-columns: repeat(5, 20%);
}

.board6 {
	grid-template-columns: repeat(6, 16.66%) !important;
}

#board > * {
	aspect-ratio: 1 / 1;
	border-radius: .2em;
	box-sizing: border-box;
	color: white;
	font-size: calc(30vw / 6 / 2);
	border: .1em outset;	
	position: relative;

	background-color: #4169e1;	
	border-color: #5179f1;

	pointer-events: none;
}

#board span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hilite::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.3);
}

.orientation1 {
	transform: translate(-50%, -50%) rotate(90deg) !important;
}

.orientation2 {
	transform: translate(-50%, -50%) rotate(180deg) !important;
}

.orientation3 {
	transform: translate(-50%, -50%) rotate(270deg) !important;
}

/* must be last! */
.orientation0 {
	transform: translate(-50%, -50%) rotate(0deg) !important;
}

#confirm {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
	color: white;
	text-align: center;
	z-index: 10;
}

#confirm button {
	margin-left: 1ch;
	margin-right: 1ch;
}

.show {
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#pause {
	font-size: 40pt;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: black;
	box-sizing: border-box;
}

#pause > * {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hidden {
	display: none !important;
}

#endgame {
	display: none;
	box-sizing: border-box;
	padding: .5em;
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background-color: black;
	color: #ffff80;
	font-size: 25pt;
	flex-wrap: wrap;
}

#endgame > * {
	margin-left: 2ch;
}

#gamenumber {
	position: absolute;
	top: 0;
	left: 1em;
	font-size: 21pt;
}
.found {
	font-weight: bold;
	color: #00c000;
}

.visible {
	display: flex !important;
}

button:disabled {
	background-color: darkgray;
	border: gray;
}

@media screen and (orientation: portrait) {
	html, body {
		font-size: 34pt;
	}

	body {
		padding: 0;
	}

	#board {
		height: auto;
		width: 100%;
		padding: 5vw;
	}

	#word, #timeline, button {
		font-size: 34pt;
	}

	#board > * {
		font-size: calc(90vw / 5 / 2);
	}

	#board.board6 > * {
		font-size: calc(90vw / 6 / 2);
	}


}