* {
	text-size-adjust: 100% !important;
}

html, body {
	overscroll-behavior: none;
 }

body {
	margin: 0;
	background-color: black;
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#game {
	display: flex;
	flex-direction: row;
}

#word, #timeline, button {
	font-size: 34pt;
	text-align: center;
	min-height: 1em;
}

#timeline, #word {
	margin-bottom: .25em;
}

.Z, .W {
	text-decoration: underline;
}

button {
	margin-left: 2ch;
	height: 1.5em;
	border-radius: .25em;
	background-color: crimson;
	padding: .2em .3em;
	color: white;
}

#timer {
	margin-left: 2ch;
}

#words {
	margin: .5em;
	font-size: 25pt;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	overflow-x: hidden;
}

#words > * > span {
	padding-left: 1ch;
	color: yellow;
}

#words > * {
	min-width: 0;
	padding-left: 1ch;
}

#words > * > span:nth-child(even) {
	color: white;
}

#board {
	height: 100vh;
	padding: 5vh;
	box-sizing: border-box;
	position: relative;
	display: grid;
	grid-template-columns: repeat(5, 20%);
	grid-template-rows: repeat(5, 20%);
	aspect-ratio: 1 / 1;
	grid-gap: 0;
}

#board > * {
	aspect-ratio: 1 / 1;
	border-radius: .2em;
	box-sizing: border-box;
	color: white;
	font-size: 10vh;
	border: .1em outset;	
	position: relative;

	background-color: #4169e1;	
	border-color: #5179f1;
}

#board span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cube-blue {
}

.hilite::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.3);
}

.orientation1 {
	transform: translate(-50%, -50%) rotate(90deg) !important;
}

.orientation2 {
	transform: translate(-50%, -50%) rotate(180deg) !important;
}

.orientation3 {
	transform: translate(-50%, -50%) rotate(270deg) !important;
}

#pause {
	font-size: 40pt;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: black;
	box-sizing: border-box;
}

#pause > * {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hidden {
	display: none !important;
}

@media screen and (orientation: portrait) {
	#game {
		flex-direction: column;
	}

	#board {
		height: auto;
		width: 100%;
		padding: 5vw;
	}

	#board > * {
		font-size: 10vw;
	}
}